@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Online<br />
    <abbr title="Phone">P:</abbr>
    01024318907
</address>

<address>
    <strong>Support:</strong>   <a href="#">Asmaa.shaabanali92@yahoo.com</a><br />

</address>