@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
 

</div>

<div class="row home">
    <div class="col-md-4 col4">
		<div class="data">
			<h2>Power of Music</h2>
			<p>
				We have a such a deep connection to music because it is 'hardwired' in our brains and bodies.
			</p>
		</div>
    </div>
	<div class="col-md-4 col4">
		<div class="data">
			<h2>Our Instruments</h2>
			<p>We also have all instruments in our classes for you to become a profisional muscian.</p>
		</div>
		<p>
			@Html.ActionLink("Learn More", "Index", "MusicInstruments", null, new { @class = "btn btn-rounded Btn" })
		</p>
	</div>
		<div class="col-md-4 col4">
			<div class="data">
				<h2>Join Us now</h2>
				<p>You can easily subscribe from here.</p>
		</div>
			<p>
			@Html.ActionLink("Register", "Register", "Account", null, new { @class = "seeMore btn btn-rounded Btn" })
			</p>
		</div>
	</div>